#page5{
	position:absolute;
	width:100%;
	height:100%;
	right:0;
	overflow:hidden;
}
#page5_bgMc{
	position:absolute;
	left:0;
	top:0;
	width:100%;
	height:100%;
}
#page5_bg{
	position:absolute;
	width:1400px;
	height:850px;
	left:0;
	top:0;
}
#page5_info{
	position:absolute;
	width:472px;
	height:390px;
	left:50%;
	top:50%;
	margin-left:-236px;
	margin-top:-195px;
}
#page5_txt1{
	position:absolute;
	width:178px;
	height:46px;
	top:0px;
	left:147px;
	filter:alpha(Opacity=0); -khtml-opacity:0; -moz-opacity:0; opacity: 0;
}
#page5_bar{
	position:absolute;
	top:57px;
	left:0px;
	filter:alpha(Opacity=0); -khtml-opacity:0; -moz-opacity:0; opacity: 0;
}
#page5_txt2{
	position:absolute;
	top:77px;
	left:128px;
	filter:alpha(Opacity=0); -khtml-opacity:0; -moz-opacity:0; opacity: 0;
}
#page5_txt3{
	position:absolute;
	top:101px;
	left:67px;
	filter:alpha(Opacity=0); -khtml-opacity:0; -moz-opacity:0; opacity: 0;
}
#page5_txt4{
	position:absolute;
	top:137px;
	left:81px;
	filter:alpha(Opacity=0); -khtml-opacity:0; -moz-opacity:0; opacity: 0;
}
#page5_bar1{
	position:absolute;
	top:173px;
	left:0px;
	filter:alpha(Opacity=0); -khtml-opacity:0; -moz-opacity:0; opacity: 0;
}
#page5_btn{
	position:absolute;
	left:87px;
	top:214px;
	filter:alpha(Opacity=0); -khtml-opacity:0; -moz-opacity:0; opacity: 0;
}
#page5_btn1{
	position:absolute;
	left:0px;
	top:0px;
	cursor:pointer;
}
#page5_btn2{
	position:absolute;
	left:159px;
	top:0;
	cursor:pointer;
}
#page5_btn1Txt{
	position:absolute;
	left:12px;
	top:12px;
}
#page5_btn2Txt{
	position:absolute;
	left:12px;
	top:12px;
}
#page5_btn3Txt{
	position:absolute;
	left:12px;
	top:12px;
}
#page5_btn4Txt{
	position:absolute;
	left:12px;
	top:12px;
}
.page5_alpha{
	filter:alpha(Opacity=0); -khtml-opacity:0; -moz-opacity:0; opacity: 0;
}